<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<% for(var i = 0; i < messages.length; i++) { %>
<tr>
    <td>
        <%= messages[i].message %>
        <%= messages[i].createdAt%>
    </td>
</tr>
<% } %>
<form id="m" method="post" action="/saveMessage">
    <input id= 'id' type="hidden" name="id" value="<%= postId %>"/>
    <textarea id='message' name="message" placeholder="new message" class="form-control"></textarea>
    <br />
    <button id="new_messages" type="submit" class="btn btn-success">Save!</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
//    var message = {
//        _post: $('#id').val(),
//        message: $('#message').val(),
//        user: $('#user').val(),
//    }
//
//    var add_message = function(){
//        console.log(message);
//        $.ajax({
//            type: "POST",
//            url: 'localhost:3000/saveMessage',
//            data: message,
//            success: function(data){
//                var newMessage = PostMessage(data);
//                newMessage.save(function(err){
//                    if(err) throw err;
//                });
//            }
//
//        });
//    };
//    $("#m").on("click","#new_messages", add_message);
</script>
</body>
</html>